/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html {
  font-size: 62.5%;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background-color: rgb(9, 10, 31);
  
}

h1, h2 {
  text-align: center;
  color: white;
}

#thePic {
  width: 50%;
  margin-bottom: 10px;
}

#picDiv{
  display: flex;
  justify-content: center;
}





/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

#theFrame {
  display: flex;
  justify-content: center;
}

iframe {
  width: 55%;
  height: 50%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
